*.sdf
*.sln
*.suo
.idea/
bin/
bin64/
build/
arm64/
tests/obj/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/Markdown.*
vs.proj/NppPlugi.*
vs.proj/MarkdownTableEditor.opensdf
vs.proj/MarkdownTableEditor.exp
vs.proj/MarkdownTableEditor.lib
vs.proj/MarkdownTableEditor.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
*.exp
*.exe
*.lib
*.obj
*.pdb
