<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*CoreSmoke\.exe$</ModulePath>
      </Include>
      <IncludeDirectories>
        <Directory Recursive="false">.</Directory>
      </IncludeDirectories>
    </ModulePaths>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentationRestore>True</EnableStaticNativeInstrumentationRestore>
  </CodeCoverage>
</Configuration>
